<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Amazona | Shop online</title>
</head>

<body>
    <div class="grid-container">

        <header class="header">
            <nav class="nav">
                <div class="brand">
                    <button onclick="toggleMenu()">&#9776;</button>
                    <a href="index.html">Amazona</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </nav>
        </header>

        <aside class="sidebar">
            <h3>Shopping categories</h3>
            <button class="sidebar__button" onclick="toggleMenu()">&times;</button>
            <ul>
                <li><a href="index.html">Sneakers</a></li>
                <li><a href="index.html">Pants</a></li>

            </ul>
        </aside>

        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img src="images/bathu.webp" / alt="" class="product__image">
                            <a href="product.html" class="product__name">Journey Edition - Yellow</a>
                            <div class="product__brand">Bathu</div>
                            <div class="product__price">R1,700</div>
                            <div class="product__rating">4.5 stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="images/bathu_green.webp" / alt="" class="product__image">
                            <a href="product.html" class="product__name">Journey Edition - Army Green</a>
                            <div class="product__brand">Bathu</div>
                            <div class="product__price">R1,700</div>
                            <div class="product__rating">4.5 stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="images/bathu_red.webp" / alt="" class="product__image">
                            <a href="product.html" class="product__name">Journey Edition - Red</a>
                            <div class="product__brand">Bathu</div>
                            <div class="product__price">R1,700</div>
                            <div class="product__rating">4.5 stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="images/bathu_red.webp" / alt="" class="product__image">
                            <a href="product.html" class="product__name">Journey Edition - Red</a>
                            <div class="product__brand">Bathu</div>
                            <div class="product__price">R1,700</div>
                            <div class="product__rating">4.5 stars (10 Reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>

    <!-- TOGGLE SIDEBAR -->
    <script>
        function toggleMenu() {
            document.querySelector('.sidebar').classList.toggle('open');
        }
    </script>
</body>

</html>