*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}

$greyDark: #203040;
$greyLight: #c0c0c0;
$orange: #ff8000;
$yellow: #f0c040;
$white: #ffffff;


body{
    font-size: 1.6rem;
    font-family:  Helveltica, sans-serif;
    height: 100vh;
    font-weight: 400;
    color: $greyDark;
}

a{
    text-decoration: none;
    transition: all .2s;
    

    &:hover{
        color: $orange;
    }
}

ul{
    list-style: none;
}

#root{
    height: 100%;
}

/*------- MAIN GRID LAYOUT -------*/


.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

/*------- HEADER LAYOUT -------*/

.header{
    grid-area: header;
    background-color: $greyDark;
    color: $white;
    width: 100%;
    z-index: 200;

    .nav{
        width: 90%;
        max-width: 110rem;
        margin: 0 auto;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100%;
    }

}


.brand{

    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        color: $white;
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    button{
        font-size: 2.5rem;
        padding: .5rem;
        background: none;
        border: none;
        color: $white;
        cursor: pointer;
        margin-right: 1rem;
    }

}

.header-links a {

    text-decoration: none;
    color: $white;
    transition: all .2s ease-in-out;
    padding-left: 2rem;

    &:hover{
        color: $orange;
    }

}


.main{
    grid-area: main;
    margin: 0 auto 4rem;
    width: 95%;
    max-width: 110rem;
}


/*------- CONTENT LAYOUT -------*/

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li{
        flex: 0 1 34rem;
        margin: 1rem;
        border-bottom: .1rem solid $greyLight;
    }

}


.product{

    padding: 0 0 3rem;
    transition: all .2s ease-in-out;

    // &:hover .product__image{
    //     transform: rotate(8deg);
    // }

    &__image{
        width: 100%;
        max-height: 34rem;
        max-width: 34rem;
        display: block;
        position: relative;
        z-index: -1;
    }

    &__name{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        display: block;
        color: $greyDark;

    }

    &__brand{
        font-size: 1.8rem;
        margin-bottom: .5rem;
    }

    &__price{
        font-size: 1.7rem;
        margin-bottom: .5rem;
    }

}

/*------- PRODUCT DETAILS -------*/

.back__link{
    position: relative;
    padding: 3rem 0;

    a{
        color: $white;
        background: $greyDark;
        padding: 1rem 2.5rem;
        border-radius: 3rem;

        &:hover{
            background: $orange;
        }
    }
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5rem;
    

    &__image {
        flex:  1 1 60rem;
        margin-bottom: 3rem;

        img{
            display: block;
            width: 100%;
            max-width: 59rem;
        }

        ul li{
            margin-bottom: .7rem;
        }

        li h4{
            font-size: 2rem;
        }
        
       
    }

    &__info{
        flex:  1 1 30rem;
    }

    &__action{
        flex: 1 1 40rem;
        border: .1rem solid $greyDark;
        border-radius: .5rem;
        padding: 2rem;

        ul li{
            margin-bottom: .7rem;
        }

        button{
            display: block;
            padding: 1.3rem 5rem;
            font-size: 1.6rem;
            margin-top: 3rem;
            background: $yellow;
            border: .1rem solid $greyDark;
            border-radius: .5rem;
        }
    }
}


/*------- SIDEBAR MENU -------*/

.sidebar{
    position: fixed;
    z-index: 20;
    transform: translateX(-30rem);
    width: 30rem;
    height: 100%;
    background-color: $white;
    color: $greyDark;
    padding: 3rem 2rem;
    transition: all .2s ease-in-out;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar__button{
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    border: none;
    background: $greyDark;
    color: $white;
    padding: .3rem 1rem;
    border-radius: 50%;
    font-size: 2.5rem;
    cursor: pointer;
}
.sidebar h3{
    margin-bottom: 3rem;
}
.sidebar li a{
    /* margin-bottom: 1.5rem; */
    color: $greyDark;
    display: block;
    padding: 1rem .8rem;
}
.sidebar li a:hover{
    background: $greyDark;
    color: $white;
}

/* LOADERS */

.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $orange;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }


/*------- FOOTER LAYOUT -------*/


.footer{
    grid-area: footer;
    background-color: $greyDark;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

