*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}

body{
    font-size: 1.6rem;
    font-family:  Helveltica, sans-serif;
    height: 100vh;
    font-weight: 400;
}

a{
    text-decoration: none;
    transition: all .2s;
}

a:hover{
    color: #ff8000;
}

ul{
    list-style: none;
}

#root{
    height: 100%;
}

/*------- MAIN GRID LAYOUT -------*/


.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

/*------- HEADER LAYOUT -------*/

.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    width: 100%;
}
.header .nav{
    width: 90%;
    max-width: 140rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}
.brand{
    display: flex;
    align-items: center;
}
.brand a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.header-links a {
    text-decoration: none;
    color: #ffffff;
    transition: all .2s ease-in-out;
}
.header-links a:hover{
    color: #ff8000;
}

.main{
    grid-area: main;
    margin-bottom: 4rem;
}


/*------- CONTENT LAYOUT -------*/

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 144rem;
    margin: 0 auto;
}

.products li{
    flex: 0 1 34rem;
    margin: 1rem;
    border-bottom: .1rem solid #c0c0c0;
}

.product{
    padding: 0 0 3rem;
}
.product__image{
    width: 100%;
    max-height: 34rem;
    max-width: 34rem;
    display: block;
}
.product__name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}
.product__brand{
    font-size: 1.8rem;
    margin-bottom: .5rem;
}
.product__price{
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

/*------- SIDEBAR MENU -------*/

.brand button{
    font-size: 2.5rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 1rem;
}

.sidebar{
    position: fixed;
    z-index: 20;
    transform: translateX(-30rem);
    width: 30rem;
    height: 100%;
    background-color: #f0f0f0;
    color: #203040;
    padding: 3rem 2rem;
    transition: all .2s ease-in-out;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar__button{
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    border: none;
    background: #203040;
    color: #ffffff;
    padding: .3rem 1rem;
    border-radius: 50%;
    font-size: 2.5rem;
    cursor: pointer;
}
.sidebar h3{
    margin-bottom: 3rem;
}
.sidebar li a{
    /* margin-bottom: 1.5rem; */
    color: #203040;
    display: block;
    padding: 1rem .8rem;
}
.sidebar li a:hover{
    background: #203040;
    color: #f0f0f0;
}


/*------- FOOTER LAYOUT -------*/


.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

